body {
	margin:0px;
	padding:0px;
	font-family:"ו",Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
}
html,body{
	width:100%;
	min-width:960px;
	height:100%;
	overflow:hidden;
}
h1,h2,h3,h4,ul,li,ol,p{
	margin:0px;
	padding:0px;
}
ul,li{
	list-style:none;
}
.clear{
	clear:both;
}
.nav{
	width:100%;
	height:28px;
	background-color: #DCF6DB;
	border-top: 1px solid #090;
	border-bottom:2px solid #ccc;
}
.nav h1{
	font-size:16px;
	line-height:28px;
	text-indent:10px;
}
.l-nav{
	float:left;
	position:relative;
	width:200px;
	height:100%;
	border-right:2px solid #ccc;
	background-color: #ECECEC;
}
.m-top{
	position:absolute;
	width:181px;
	padding:0px 10px;
	background-color:#000;
	text-shadow: 0 -1px 0 #333;
	color: #fff;
	left:0px;
	top:0px;
	z-index:5;
}
.m-top h2{
	font-size:14px;
	line-height:30px;
}
.m-list{
	position:absolute;
	width:100%;
	height:100%;
	overflow:auto;
	left:0px;
	top:0px;
	z-index:2;
}
.m-list ul{
	display:inline;
	float:left;
	width:200px;
	margin-top:29px;
	border-bottom:1px solid #F9F9F9;
}
.m-list ul li{
	float:left;
	width:100%;
	line-height:25px;
	border-top:1px solid #F9F9F9;
	border-bottom:1px solid #DFDFDF;
}
.m-list ul li.current{
	background-color:#777;
}
.m-list ul li.current a{
	color:#fff;
}
.m-list li a{
	display:inline;
	float:left;
	width:180px;
	height:25px;
	padding:0px 10px;
	color:#21759B;
	font-size:12px;
	text-decoration:none;
}
.m-list li a:hover{
	color:#D54E21;
}
.r-con{
	width:auto;
	height:100%;
	padding:0px 10px;
	margin-left:210px;
}
.box{
	width:auto;
	border:1px solid #DFDFDF;
	box-shadow: inset 0 1px 0 #fff;
	border-radius: 3px;
	margin-top:10px;
}
.tip{
	width:auto;
	line-height:28px;
	border-bottom:1px solid #DFDFDF;
	text-shadow: white 0 1px 0;
	box-shadow: 0 1px 0 #fff;
	background:url(/img/tip-bg.gif) left top repeat-x;
}
.tip h2{
	font-size:14px;
	color:#464646;
	text-indent:5px;
}
.box-in{
	width:auto;
	padding:10px;
}
.editor{
	width:100%;
	padding:0px;
	font-family: Consolas,Monaco,monospace;
	line-height: 150%;
	resize: vertical;
	border:1px solid #DFDFDF;
	background-color: white;
	border-radius: 3px;
	outline:none;
}
.btn-box{
	width:100%;
	height:25px;
	padding-bottom:10px;
	margin-top:10px;
}

.btn-run,.btn-cancel{
	display:inline;
	float:right;
	height:22px;
	background-color:#F49C46;
	font-weight: bold;
	color: #000;
	text-shadow: 0px 1px #FFC59B;
	padding:5px 10px;
	line-height:22px;
	border-radius: 3px;
	border: 1px solid #CE7219;
	text-decoration:none;
}
.btn-cancel{
	float:left;
	border:1px solid #B5B5B5;
	background-color: #ECECEC;
	color: #535353;
	text-shadow: 0px 1px #EAEAEA;
	font-weight:normal;
}
